body {


  background-color: #121212;

   font-family: sans-serif ; 

   color: #e0e0e0; 

}


header {


  background-color: #000000 ;
 
 color: #ffcccc ;
 
 ;

 text-align: center ;

  border-bottom: 5px solid #800020 ;

}

main {


  max-width: 600px;

 margin: 25px auto;





}

.card, #monitorizare-resurse, #componente-caracteristici, #dt-cont, #structura-retea, #caracteristici-conexiune {


 background-color: #1e1e1e  ;

   padding: 15px ;

  border-radius: 8px .; 

 border: 1px solid #330000;

  width: 100% ;

}

   .card h2, #monitorizare-resurse h2, #componente-caracteristici h2, #dt-cont h2, #structura-retea h2, #caracteristici-conexiune h2 {


   color: #b74f6f;

    font-size: 1.3m; 

}




.subtitle {


 font-style:  Italic  ;

 color: #aaaaaa; 

  margin-bottom: 10px;

  font-size: 0.9m;

}

#dt-cont a {


  color: #ff7f7f;

   text-decoration: none;

 font-weight: bold  ;

}


.image {


 text-align: center;

 padding: 10px 0;

}



.layout-img {

  max-width: 100% ;

   height:  auto ;

   display: block ;

  margin:  0  auto. ;

  border:  2px solid,  #800020 ;

   border-radius: 6px ;

}


#slideshowuri {

 position: relative;

 max-width: 100%;

  margin-top: 10px;

   border: 1px solid #444444;

   border-radius: 4px;

  padding: 4px;

  background-color: #0d0d0d;

}



  .poze-img {


   width: 100%;

    height:  auto ;

   display: none;

    border-radius: 3px

}



 .buton {

  text-align: center;

   margin-top: 10px;

}



  #toggle-slideshow {

   background-color: #800020;

   border: none;

    cursor: pointer;

     border-radius: 4px;

  box-shadow: 0 0 5px rgba(255, 0, 0, 0.4); 

}



table {

 width: 100%;



}



table th, table td {

  padding: 8px;

  text-align: left;

 border-bottom: 1px solid #333333;

}



table th {

 background-color: #2a2a2a; 

   color: #ffcccc;

   font-weight: bold;

  font-size: 0.85em;

}



table tr:nth-child(even) {

 background-color: #1a1a1a;

}





.info.net {

 list-style: none;

 padding-left: 0;

}





.info.net li {

 background-color: #251010;

 padding: 8px 12px;

 font-family: monospace;

 font-size: 0.9m;



}




    footer {

   position: static;

 width: 100%;

     background-color: #000000;

    color: #aaaaaa;

  text-align: center;

  padding: 10px 0;

  font-size: 0.8em;

  border-top: 2px solid #800020; 

}



